# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [72]:
import pandas as pd

# Cargamos los dataframe como df
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url)

url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url2)

url3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url3)

In [73]:
pd.set_option('display.max_columns', None)

In [74]:
df2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [75]:
df3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [76]:
df1.columns
df1.rename(columns= {
    'ST': 'state',
    'GENDER':'Gender'
    },
    inplace=True
)
df1.columns = df1.columns.str.lower().str.replace(' ', '_')
df1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [77]:
df1['gender'] = df1['gender'].replace({
    'Femal': 'F', 'female': 'F', 'Female': 'F', 
    'M': 'M', 'Male': 'M', 'male': 'M'
})
df1['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [78]:
df1['state'] = df1['state'].replace({
    'AZ': 'Arizona', 'Cali': 'California', 'WA': 'Washington'
})
list(df1['state'].unique())

['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan]

In [79]:
df1['education'] = df1['education'].replace({
    'Bachelors' : 'Bachelor'
})
list(df1['education'].unique())

['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor', nan]

In [80]:
df1['customer_lifetime_value'] = pd.to_numeric(df1['customer_lifetime_value'], errors='coerce')
list(df1['customer_lifetime_value'].unique())

[nan]

In [81]:
df2.columns
df2.rename(columns= {
    'ST': 'state',
    'GENDER':'Gender'
    },
    inplace=True
)
df2.columns = df2.columns.str.lower().str.replace(' ', '_')
df2.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [82]:
df2['gender'] = df2['gender'].replace({
    'female': 'F', 'Male': 'M'
})
df2['gender'].unique()

array(['F', 'M', nan], dtype=object)

In [83]:
df2['state'] = df2['state'].replace({
    'AZ': 'Arizona'
})
list(df2['state'].unique())

['Arizona', 'California', 'Oregon', 'Nevada', 'Washington']

In [84]:
df2['education'] = df2['education'].replace({
    'Bachelors' : 'Bachelor'
})
list(df2['education'].unique())

['Bachelor', 'Master', 'College', 'Doctor', 'High School or Below']

In [85]:
df2['customer_lifetime_value'] = pd.to_numeric(df2['customer_lifetime_value'], errors='coerce')

In [86]:
df3.columns
df3.columns = df3.columns.str.lower().str.replace(' ', '_')
df3.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [87]:
list(df1['education'].unique())

['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor', nan]

In [88]:
df1.isnull().sum()

customer                     2937
state                        2937
gender                       3054
education                    2937
customer_lifetime_value      4008
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [89]:
df2.isnull().sum()

customer                       0
state                          0
gender                         5
education                      0
customer_lifetime_value      996
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
total_claim_amount             0
policy_type                    0
vehicle_class                  0
dtype: int64

In [90]:
df3.isnull().sum()

customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

In [91]:
df1['customer_lifetime_value'] = df1['customer_lifetime_value'].astype(float)

df1['customer_lifetime_value'].dtypes

dtype('float64')

In [92]:
df2['customer_lifetime_value'] = df2['customer_lifetime_value'].astype(float)

df2['customer_lifetime_value'].dtypes

dtype('float64')

In [93]:
df3['customer_lifetime_value'] = df3['customer_lifetime_value'].astype(float)

df3['customer_lifetime_value'].dtypes

dtype('float64')

In [94]:
# Divido la string y me quedo con la segunda parte de string después de /
df1['number_of_open_complaints'] = (df1['number_of_open_complaints'].str.split('/').str[1])

# Reemplazo con 0 los nan para poder convertirlos en integer
df1['number_of_open_complaints'] = df1['number_of_open_complaints'].fillna(0)

#Convierto en integer la columna
df1['number_of_open_complaints'] = df1['number_of_open_complaints'].astype(int)

list(df1['number_of_open_complaints'].unique())

df1['number_of_open_complaints'].dtypes

dtype('int64')

In [95]:
# Divido la string y me quedo con la segunda parte de string después de /
df2['number_of_open_complaints'] = (df2['number_of_open_complaints'].str.split('/').str[1])

# Reemplazo con 0 los nan para poder convertirlos en integer
df2['number_of_open_complaints'] = df2['number_of_open_complaints'].fillna(0)

#Convierto en integer la columna
df2['number_of_open_complaints'] = df2['number_of_open_complaints'].astype(int)

list(df2['number_of_open_complaints'].unique())

df2['number_of_open_complaints'].dtypes

dtype('int64')

In [96]:
columnas_numericas = ['customer_lifetime_value', 'income', 'monthly_premium_auto','number_of_open_complaints','total_claim_amount']
columnas_categoricas = ['state', 'gender', 'education', 'policy_type', 'vehicle_class']
for columna in columnas_numericas:
    mediana = df1[columna].median()
    df1[columna] = df1[columna].fillna(mediana)

# Relleno con la moda las columnas categóricas con valores nulos
for columna in columnas_categoricas:
    moda = df1[columna].mode()[0]
    df1[columna] = df1[columna].fillna(moda)

/Users/monzon8/Library/Python/3.8/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [97]:
columnas_numericas = ['customer_lifetime_value', 'income', 'monthly_premium_auto','number_of_open_complaints','total_claim_amount']
columnas_categoricas = ['state', 'gender', 'education', 'policy_type', 'vehicle_class']
for columna in columnas_numericas:
    mediana = df2[columna].median()
    df2[columna] = df2[columna].fillna(mediana)

# Relleno con la moda las columnas categóricas con valores nulos
for columna in columnas_categoricas:
    moda = df2[columna].mode()[0]
    df2[columna] = df2[columna].fillna(moda)

/Users/monzon8/Library/Python/3.8/lib/python/site-packages/numpy/lib/nanfunctions.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [98]:
for columna in columnas_numericas:
    df1[columna] = df1[columna].fillna(0).astype(int)

df1.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
vehicle_class                object
total_claim_amount            int64
dtype: object

In [99]:
for columna in columnas_numericas:
    df2[columna] = df2[columna].fillna(0).astype(int)

df2.dtypes

customer                     object
state                        object
gender                       object
education                    object
customer_lifetime_value       int64
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
total_claim_amount            int64
policy_type                  object
vehicle_class                object
dtype: object

In [100]:
for columna in columnas_numericas:
    df3[columna] = df3[columna].fillna(0).astype(int)

df3.dtypes

customer                     object
state                        object
customer_lifetime_value       int64
education                    object
gender                       object
income                        int64
monthly_premium_auto          int64
number_of_open_complaints     int64
policy_type                  object
total_claim_amount            int64
vehicle_class                object
dtype: object

In [101]:
df_combinada = pd.concat([df1, df2, df3], ignore_index=True)
df_combinada

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,0,0,1000,0,Personal Auto,Four-Door Car,2
1,QZ44356,Arizona,F,Bachelor,0,0,94,0,Personal Auto,Four-Door Car,1131
2,AI49188,Nevada,F,Bachelor,0,48767,108,0,Personal Auto,Two-Door Car,566
3,WW63253,California,M,Bachelor,0,0,106,0,Corporate Auto,SUV,529
4,GA49547,Washington,M,High School or Below,0,36357,68,0,Personal Auto,Four-Door Car,17
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,California,M,Bachelor,23405,71941,73,0,Personal Auto,Four-Door Car,198
12070,PK87824,California,F,College,3096,21604,79,0,Corporate Auto,Four-Door Car,379
12071,TD14365,California,M,Bachelor,8163,0,85,3,Corporate Auto,Four-Door Car,790
12072,UP19263,California,M,College,7524,21941,96,0,Personal Auto,Four-Door Car,691
12073,Y167826,California,M,College,2611,0,77,0,Corporate Auto,Two-Door Car,369

In [102]:
df_combinada.shape

(12074, 11)

In [103]:
df_combinada.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [104]:
df_combinada.to_csv('df_combinada.csv', index = False)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [105]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
dfmk = pd.read_csv(url)

dfmk.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [106]:
dfmk.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [107]:
dfmk = dfmk.drop(columns='unnamed:_0')
dfmk.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [108]:
dfmk.dtypes

customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [109]:
print(dfmk.isnull().sum())

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [110]:
dfmk['sales_channel'].unique()

array(['Agent', 'Call Center', 'Branch', 'Web'], dtype=object)

In [111]:
dfmk['total_claim_amount'].unique()

array([292.8     , 744.924331, 480.      , ..., 273.018929, 381.306996,
       618.288849])

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [112]:
pivot_mk = pd.pivot_table(dfmk, 
                            values='total_claim_amount', 
                             index='sales_channel', 
                             aggfunc='sum')
pivot_mk = pivot_mk.round(2)
pivot_mk

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [113]:
dfmk.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [114]:
pivot_table_CLV = pd.pivot_table(dfmk,
                                 values='customer_lifetime_value',
                                 index='gender',
                                 columns='education',
                                 aggfunc='mean'
                                 )
pivot_table_CLV = pivot_table_CLV.round(2)
pivot_table_CLV

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [115]:
dfmk['effective_to_date'] = pd.to_datetime(dfmk['effective_to_date'])

dfmk['effective_to_date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: effective_to_date, Length: 10910, dtype: datetime64[ns]

In [116]:
dfmk.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [117]:
dfmk['month'] = dfmk['effective_to_date'].dt.month

complaints_pol_moth = dfmk.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

complaints_pol_moth

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817

In [118]:
long_format_table = pd.melt(complaints_pol_moth, id_vars=['policy_type','month'], var_name='number_of_open_complaints')

long_format_table

      policy_type  month  number_of_open_complaints        value
0  Corporate Auto      1  number_of_open_complaints   443.434952
1  Corporate Auto      2  number_of_open_complaints   385.208135
2   Personal Auto      1  number_of_open_complaints  1727.605722
3   Personal Auto      2  number_of_open_complaints  1453.684441
4    Special Auto      1  number_of_open_complaints    87.074049
5    Special Auto      2  number_of_open_complaints    95.226817